@page
@model RawDataWebapp.Pages.SearchModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search -Word </title>
    <link rel="stylesheet" href="~/style.css">
</head>
<body class="gradient-background">
    <main>
        <section id="search-section">
            <form method="post">
                <input asp-for="PlayerName" type="text" placeholder="Search for players...." autofocus>
                <button type="submit" id="search-button">Search <i class="bi bi-search"></i></button>
            </form>
            <div id="search-results">
                @if (Model.Players != null && Model.Players.Count > 0)
                {
                    <ul>
                        @foreach (var player in Model.Players)
                        {
                            <li>@player.strPlayer - @player.strTeam - @player.strPosition</li>
                        }
                    </ul>
                }
                else if (Model.Players != null)
                {
                    <p>No players found. Try another search.</p>
                }
            </div>
        </section>
    </main>
</body>
</html>
